{
    "root": true,
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    
    "extends": [
        //"plugin:vue/strongly-recommended",
        "plugin:vue/vue3-recommended",
        "eslint:recommended",
        "@vue/typescript/recommended",
        "prettier"
    ],
    "plugins": ["@typescript-eslint", "prettier", "vue"],
    "rules": {
        "prettier/prettier": "error",
        // not needed for vue 3
        "vue/no-multiple-template-root": "off",
        "no-console": "off",
        "no-var": 2,  
        "indent": ["warn", 2],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "double"],
        "semi": ["error", "always"]
    }
}